@media only screen and (max-width: 300px) {
    h4,
    h5 {
        text-align: center;
    }
}

.imagenLogo {
    width: 50%;
}

.tienda-fondo {
    background-color: rgb(141, 104, 111);
}

.img-card {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.foto-card {
    width: 200px;
    height: 200px;
}

.fondo {
    background-repeat: round;
    background-image: url("../imagenes/logo.jpeg");
    height: 1500px;
}

.btw {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bordex {
    background-color: pink;
    border: groove 20px grey;
    margin: 10px;
}

.colorfondo {
    background-color: rgb(141, 104, 111);
    border: groove rgb(219, 161, 200) 10px;
}

.ig {
    color: white;
}

.fondocards {
    background-color: black;
    color: white;
}

.pinky {
    color: pink;
}

.logonav {
    width: 40px;
    height: 40px;
}

.redeslinks {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.lfp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}